@import "../styles/main";

.Nav {
    @extend .nav;

    &-element {
        @extend .btn;
        margin: 1rem;

        &-active {
            @extend .Nav-element, .btn-primary;
        }
        &-nonactive {
            @extend .Nav-element, .btn-dark;
        }
    }
}

a {
    text-decoration: none;
    color: white;
}